body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .todo-form {
    margin-top:5rem;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  .todo-form label {
    display: block;
    color: #333;
    margin-bottom: 5px;
  }
  .todo-form input[type=text],
  .todo-form textarea,
  .todo-form button {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ddd;

  }